.homePage-group{
    display: flex;
    flex:1;
    height:70%;
    width: 100%;
}

.homePage-group.vertical{
    flex-direction: column;
}
.homePage-group .homePage-container{
    position: relative;
    display: flex;
    flex-direction: column;
}
.homePage{
    /* flex-direction: column;
    flex: 1 auto;
    position: relative;
    height:1198px */
}
.homePage, .homepage-content{
    display: flex;
    width: 85rem;
    min-height: 0;
    flex: 1;
    flex-direction: column;
}

.homePage-builder{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.homePage-header{
    flex: none;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EDEDED;
}
.homePage-tabs-wrapper{
    display: flex;
    flex: 1;
    position: relative;
    min-width: 0;
    height: 39px;
    padding: 0px 16px;
}
.homePage-tabs{
    height: 40px;
    display: flex;
    flex-direction: row;
    width: 32rem;
    gap:1rem
}
.header-tab{
    width: 19rem !important;
}
/* .homePage-tabs::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    pointer-events: none;
} */
.homePage-tabs:first-child.is-active{
    border-left: 0;
    box-shadow: inset -1px 0 0 #EDEDED;
}

/* .homePage-tabs.is-active{
    height: 40px;
    border-right: 1px solid;
    border-image-source: linear-gradient(180deg,#EDEDED 0,#EDEDED);
    background-color: #FFFFFF;
    color: #212121;

} */
.homePage-tabs .tab-primary.is-active{
    border-bottom: 3px solid #f76a3f;
    color: #000;
}
.homePage-tabs-title__wrapper{
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-grow: 1;
    margin-top: 2px;
}
.homePage-text__wrapper{
    display: flex;
    overflow: hidden;
    flex: 1;
    align-items: center;
}
.homePage-tab-name{
    font-family: var(--text-family-default);
    line-height: 16px;
    font-size: 11px;
    font-weight: 400;
    padding-left:4px ;
    flex: 1;
    align-self: center;
    white-space: nowrap;
}
.homePage-icon-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.home-icon-get{
    font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: -.2px;
    /* font-size: var(--text-size-xs);
    line-height: var(--line-height-s); */
    
    color: #0cbb52;
    text-align: left;
    font-size: 9px;
}
.homePage-tab-actions{
    display: inherit;
    position: sticky;
    right: 0;
    align-items: center;
}
.create{
    margin: 4px;
    border-left: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 11px;
    font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica,Arial,sans-serif;
    user-select: none;
    cursor: pointer;
    justify-content: center;
    padding: 0;
    background-color: #FFFFFF;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.environment-wrapper{
    cursor: ew-resize;
    margin: 0 5px 0 0;
    padding: 0 5px 0 0;
    touch-action: none;
}
.enviroment-handler{
    background: #EDEDED;
    height: 100%;
    width: 1px;
}
.environment-container{
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.environment-selector-container{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.environment-view{
    margin-right: 8px
}
.environment-selector-wrapper{
    width: 100%;
}
.input-select-wrapper{
    background-color: initial;
    border: none;
    border-radius: 0;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 32px;
    position: relative;
    width: 210px;
}
.input-search-group{
    flex: 1;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding-right: 0;
    height: 32px;
    box-sizing: border-box;
    display: flex;
    padding-left: 10px;
    flex-direction: row;
    align-items: center;
}
.input-search-group__input-wrapper{
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
}
.input{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height:12px;
    color: #686868;
}
.dropdown-button{
    align-self: center;
    border-left: 0;
    background: transparent;
    border-radius: 0;
    flex: 0 0 30px;
    height: 32px;
    margin-left: auto;
    padding: 0px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.btn-icon{
    
    height: 32px;
    width: 32px;
    padding: 0px;
    background: none;
}
.homePage-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}
.main-container{
    display: flex;
    min-width: 0;
    min-height: 0;
    flex: 1;
    flex-direction: column;
}
.tab-header{
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    align-items: flex-start;
    box-sizing: border-box;
    border-bottom: 1px solid #ededed;
}
.tabheader-name-input{
    font-weight: 600;
}
.params-content{
    border-bottom: none;
}
.tab-header-container{
    display: flex;
    width: 100%;
}
.tabheader-name{
    display: flex;
    flex: 1;
    min-width: 0;
    align-items: center;
    line-height: 20px;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
}
.tabheader-name-wrapper{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tabheader-actions{
    display: flex;
    margin-left: 32px;
    justify-content: flex-end;
    align-items: center;
}
.url-container-main{
    position: relative;
    box-sizing: border-box;
    z-index: 7;
    background-color: #FFFFFF;  
    padding: 8px;
    display: flex;
    flex-direction: row;
}
.url-container-main__group{
    border-radius: 4px;
    background-color: #f2f2f2;
    margin-right:8px;
    flex: 1;
    min-width: 0;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.url-editor{
    flex: 0 0 115px;
    color: #212121;
    background-color: #f2f2f2;
    border-radius: 4px 0 0 4px;
}
.url-editor__list-wrapper{
    height: 100%;
    width: 115px;
    border-radius: inherit;
    box-sizing: border-box;
    border: solid #e6e6e6;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 0;
    border-top-width: 1px;
    align-items: center;
    display: flex;
}
.url-group{
    flex: 1;
    min-width: 0;
    color: #212121;
    background-color: #f2f2f2;
    border-radius: 0 4px 4px 0;
}

.dropdown-button{
    align-self: center;
    border-left: 0;
    background: transparent;
    border-radius: 0;
    flex: 0 0 30px;
    height: 32px;
    margin-left: auto;
    padding: 0;
}
.url-group{
    flex: 1;
    min-width: 0;
    color: #212121;
    background-color: #f2f2f2;
    border-radius: 0 4px 4px 0;
}
.url-main{
    position: relative;
    font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica,Arial,sans-serif;
    color: #212121;
    flex: 1;
    align-self: flex-start;
}
.url-editor-root{
    padding: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: inherit;
    text-align: initial;
    position: relative;
}
.url-editor__placeholder{
    font-size: 12px;
    line-height: 1.5;
    color: #a6a6a6;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    width: 454px;
}
.url-container-button__group{
    display: flex;
    flex-direction: row;
    flex: 0 0 100px;
}
.btn-group{
    width: 100px;
    display: flex;
    flex-direction: row;
}
/* .url-container__send-button{
    background-color: #097bed;
} */
.send_button{
    background-color: #097bed !important;
    color: white !important;
    border-color: #097bed !important;
    width: 81px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 600;
    color:#fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 8px 10px;
    border-right: thin solid rgba(0,0,0,.07);
    border-radius: 4px;
}
.homePage-group {
    /* flex: 1;
    display: flex;
    min-height: 0;
    min-width: 0; */
}
.homePage-group.vertical{
    flex-direction: column;
}
.homePage-request-editor{
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    position: relative;
    /* height: 32.94rem; */
}
.tabs{
    display: inline-flex;
    flex-direction: row;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    flex: 0 0 auto;
}
.tabs-primary{
    gap: 24px;
    color: #6b6b6b;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.tab-primary.is-active .tab-text-wrapper{
    box-shadow: inset 0 -2px 0 #ff6c37;
}
.tab-primary .tab-text-wrapper{
    padding: 8px 0px;
    margin: 0px 8px;
}
.tab-text-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.homePage-tabs-actions{
    display: flex;
    flex: 1;
    flex-direction: row;
    padding-left:8px;
    justify-content: flex-end;
    align-self: center;
    line-height:20px;
}
.actions-header{
    justify-content: flex-start;
    align-items: baseline;
}
.btn-text{
    background-color: transparent;
    height: 20px;
    color: #0265D2;
}
.btn-action{
    user-select: none;
    cursor: pointer;
    padding: 0px 4px;
    font-size: 12px;
    color: #0265D2;
}
.url_editor-group{
    flex: 1;
}
.editor-title{
    display: flex;
    align-items: center;
    height: 32px;
    padding-left: 23px;
    font-size: 12px;
    color: #6B6B6B;
    font-weight: 600;
}
.key_value-form-editor{
    display: flex;
    flex: 1;
    flex-direction: column;
    border-top: 1px solid #EDEDED !important;
}
.key_value-header{
    font-size: 12px;
}
.key_value-header-row{
    display: flex;
    flex-direction: row;
    position: relative;
    flex: 1 1 auto;
    height: 32px;
    border-bottom: 1px solid #EDEDED;
}
.key_value-form-actions{
    position: relative;
    display: flex;
    width: 44px;
    justify-content: flex-end;
    border-left: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
}
.suggestion_group{
    flex: 1;
    min-width: 0;
    position: relative;    display: flex;
    flex-direction: row;
}
.key-value-header-item{
    overflow: hidden;
    align-items: center;
    display: flex;
    position: relative;
    box-sizing: border-box;
    border-right: 1px solid #EDEDED;
    margin: 0px;
    flex: 0 0 33%;
}
.header-content{
    padding: 8px;
    color: #6B6B6B;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bulk__editor-controls{
    position: absolute;
    right: 0;
    color: #d23;
    display: flex;
    align-items: center;
    background: #fff;
    height: 32px;
}
.suggestion_group > *{
    flex: 1 1 50%;
}
.key_value-toggle{
    flex: 1;
    position: relative;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    height: 32px;
    display: flex;
    align-items: center;
}
.save-response-button{
    border: none;
}
.bulk-editor{
    flex: 1;
    white-space: pre;
    border-radius: 0;
    border-left: 1px solid #ededed;
    height: 32px;
    display: flex;
    align-items: center;
    color: #212121;
    cursor: pointer;
}
.editor_params{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.key-value__body{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.key-value-placeholder{
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 7px 3px 0 9px;
    align-items: center;
    cursor: text;
    font-size: 9px;
    user-select: none;
    color: #a6a6a6;

}
.body-resizehandler{
    padding: 5px 0;
    left: 0;
    right: 0;
    bottom: -5px;
    cursor: ns-resize;
    touch-action: none;
    /* position: absolute; */
    box-sizing: border-box;
    z-index: 8;
}
.resize-body{
    height: 1px;
    width: 100%;
    background-color: #EDEDED;
}
.footer-response-container{
    flex: 1;
    display: flex;
    flex-direction: inherit;
    min-height: 0;
    min-width: 0;
}
.footer-response__header{
    background-color: #FFFFFF;
}
.response-section-top{
    display: flex;
    justify-content: space-between;
}
.response-section-tabs{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;
    height: 32px;
}
.response-tab{
    flex: 0 0 50px;
}
.response-tab .tab{
    font-size: 12px
}
.response-section-meta{
    flex-direction: row-reverse;
    min-width: 0;
    align-self: center;
    flex-grow: 1;
    height: 32px;
}
.response-meta-viewer{
    display: flex;
    align-items: center;
    height: 32px;
    font-size: 11px;
    color: #6B6B6B;
    justify-content: flex-end;
    line-height: 20px;
    overflow: hidden;
}
.response-meta-item{
    flex-shrink: 1;
    display: flex;
    min-width: 0;
    margin-right: 12px;
}
.response-meta-time{
    margin-right: 12px;
    flex-shrink: 0;
}
.response-action-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.response-action{
    display: flex;
    border-left: 1px solid #ededed;
    cursor: pointer;
}
.response-save-button{
    white-space: pre;
}
.response-body-viewer{
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: 100%;
}
.text-editor{
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}
.text-editor-div{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    min-height: 0;
}
.text-editor-primary{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.tab-secondry , .tab-tertiary{
    box-sizing: border-box;
    height: 30px;
}
.tab-secondry{
    border-radius: 4px;
    background-color: #f2f2f2;
    padding: 8px 16px;
}
.text-editor{
    margin-left: 8px;
}
.btn-medium, .btn-small {
    height: 32px;
    padding: 8px 10px;
}
.btn-small {
    min-width: 60px;
    font-size: 11px;
    line-height: 12px;
}
.btn-secondary {
    background-color: #f2f2f2 !important;
    min-width: 6.25rem;
    color: #212121 !important;
    border-color: #f2f2f2 !important;
    display: flex !important;
}
.response-meta-item li{
    display:flex;
}
.nav-link{
    padding: 0rem 1rem !important;
}
.request-area{
    max-height: 8.5rem;
}
@media (max-width: 1024px) {
    .homePage-group .homePage-container{
        width: 100%;
    }
    .homePage-content{
        min-width: 725px;
    }
    .homePage-request-editor{
        height: auto;
        min-width: 725px;
    }
    .editor_params, .url-container-main{
        min-width: 725px;
    }
    .homePage-header{
        width:690.175px
    }
}